.form-container {
    form {
        display: flex; 
        flex-direction: column;
        font-size: 2rem;
        .border(1px, red, solid); 
        margin: 2rem auto; 
        div {
            padding: 1rem 1.5rem; 
            label {
                .border(1px, green, solid); 
            }
            input {
                .border(1px, purple, solid);
                ;
                height: 3rem; 
            }
        }
    }
        
}