.form-container {
    width: 75%;
    margin: 3rem auto; 
    .border(2px, @silver, dashed); 
    border-radius: @pillshape;
    form {
        display: flex; 
        flex-direction: column;
        font-size: 2rem;
        /* .border(1px, red, solid); */ 
        margin: 2rem auto; 
        div {
            padding: 1rem 1.5rem; 
            label {
                /* .border(1px, green, solid); */ 
            }
            input {
                .border(1px, @silver, solid);
                border-radius: 3px;
                height: 3rem; 
            } 
        }
        .button {
            /* .border(1px, red, solid); */ 
            border-radius: 3px;
            width: 20%; 
            margin: 2rem auto;
            font-size: 2rem;
            color: @white; 
            background-color: @eastern-blue;
        }
    }
        
}