// Mixins in here

.border(@width, @color, @style) {
    border: @width @color @style;
}

.sectiontitlespacing(@margin-top, @margin-bottom) {
    margin-top: @titletop;
    margin-bottom: 0;
}







